* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:
        Arial,
        sans-serif;

    background:
        #f4f6f8;

    color:
        #111;
}

.auth-container {
    min-height: 100vh;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    padding: 20px;
}

.logo {
    font-size: 60px;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #777;
}

.card {
    width: 100%;
    max-width: 400px;

    background: white;

    padding: 25px;

    border-radius: 20px;

    box-shadow:
        0 10px 30px
        rgba(0,0,0,.08);
}

input,
select {

    width: 100%;

    padding: 14px;

    margin:
        7px 0;

    border:
        1px solid #ddd;

    border-radius:
        10px;

    font-size:
        15px;
}

button {

    width: 100%;

    padding: 14px;

    border: none;

    border-radius:
        10px;

    background:
        #111;

    color:
        white;

    font-weight:
        bold;

    cursor:
        pointer;

    margin-top:
        10px;
}

button:hover {
    opacity: .9;
}

.register-link {
    text-align: center;

    margin-top:
        20px;

    font-size:
        14px;
}

.register-link a {
    font-weight: bold;

    text-decoration:
        none;

    color:
        #111;
}

.driver-page {
    max-width:
        600px;

    margin:
        auto;

    padding:
        20px;
}

.topbar {

    display:
        flex;

    justify-content:
        space-between;

    align-items:
        center;

    margin-bottom:
        20px;
}

.logout {

    width:
        auto;

    padding:
        8px 15px;

    margin: 0;

    background:
        #ddd;

    color:
        #111;
}

.profile-card,
.work-card,
.location-card {

    background:
        white;

    border-radius:
        20px;

    padding:
        25px;

    margin-bottom:
        15px;

    box-shadow:
        0 5px 20px
        rgba(0,0,0,.06);
}

.avatar {

    width:
        90px;

    height:
        90px;

    border-radius:
        50%;

    background:
        #eee;

    display:
        flex;

    align-items:
        center;

    justify-content:
        center;

    font-size:
        40px;

    margin:
        auto;
}

.profile-card {
    text-align:
        center;
}

.bus-info {

    display:
        flex;

    justify-content:
        space-between;

    margin-top:
        20px;
}

#workStatus {

    font-size:
        25px;

    font-weight:
        bold;

    margin:
        15px 0;
}

.map-button {

    display:
        block;

    text-align:
        center;

    padding:
        15px;

    border-radius:
        12px;

    background:
        #111;

    color:
        white;

    text-decoration:
        none;

    font-weight:
        bold;
}
